@model FormEditViewModel
@{
  Layout = "_Layout";
}

<script type="text/javascript">
    
</script>

<head>
  <link rel="stylesheet" href="~/css/form/wrapper.css" />

  <link rel="stylesheet" href="~/css/form/content.css" />
  <link rel="stylesheet" href="~/css/form/content-period.css" />
  <link rel="stylesheet" href="~/css/form/content-employee.css" />
  <link rel="stylesheet" href="~/css/form/content-table.css" />
  <link rel="stylesheet" href="~/css/form/content-advanced.css" />
  <link rel="stylesheet" href="~/css/form/content-comments.css" />
  <link rel="stylesheet" href="~/css/form/content-signatures.css" />
  <link rel="stylesheet" href="~/css/form/sidebar.css" />
  <link rel="stylesheet" href="~/css/common.css" />

  <title>Set title here</title>
</head>

@*----------------------------------------
BEM convention: Block Elements Modifiers
.stick-man          || blocks with -

.stick-man__head    || elements with __
.stick-man__arms
.stick-man__feet

.stick-man--blue    || modifiers with --

.stick-man__head--small
----------------------------------------*@

<body class="wrapper">
  <header class="header">
      <p>You can do it!</p>
  </header>
  

  <content class="content">
   <form method="post" id="content-form">
    <div style="display:none">
        <input asp-for="@Model.Id" type="hidden" id="js-formId" readonly />
        <input asp-for="IsObjectivesFreezed" type="hidden" id="js-isObjectivesFreezed" readonly />
@*        <input asp-for="ObjectivesSignature.IsObjectivesSigned" type="hidden" readonly />*@
        <input asp-for="IsResultsFreezed" type="hidden" id="js-isResultsFreezed" readonly />
@*        <input asp-for="ResultsSignature.IsResultsSigned" type="hidden" readonly />*@
    </div>

    @*-------------------------- Content - Period --------------------------*@
    <div class="content-period">
        @* TODO: add alt="HTML5" style="width:128px;height:128px" for image *@
        <img class="content-period__image" src="~/images/Ecar.png" alt="logo"/>
        <div class="content-period-center">
        <span class="content-period-center__title">PERSONAL PERFORMANCE OBJECTIVES FOR</span>
        <select asp-for="@Model.Definition.Period" asp-items="@Model.PeriodSelectList"
                class="content--styles content-period-center__period">
        </select>
        <span class="content-period-center__joinder">OF</span>
        <input asp-for="Definition.Year" type="text" class="content--styles content-period-center__year" />
        </div>
        <div class="content-period__text">Please complete the form in English</div>
    </div>

    @*-------------------------- Content - Employee --------------------------*@
    <div class="content-employee">
        <label asp-for="Definition.EmployeeId" class="content-employee__column-1">Employee:</label>
        <div class="content-employee__column-2">
        <select asp-for="Definition.EmployeeId" asp-items="Model.EmployeeSelectList"
                class="content--styles" onchange="requestEmployeeData(this)">
        </select>
        <div class="content-employee__column-2-flex">
            <label asp-for="Definition.IsWpmHox">WPM/HoX:</label>
            <input asp-for="Definition.IsWpmHox" type="checkbox" />
        </div>
        <div class="content-employee__column-2-flex">
            <label asp-for="Definition.TeamName">Team:</label>
            <input asp-for="Definition.TeamName" type="text"  disabled
                    class="content--styles content-employee--styles" id="js-teamName"/>
        </div>
        <div class="content-employee__column-2-flex">
            <label asp-for="Definition.PositionName">Position:</label>
            <input asp-for="Definition.PositionName" type="text" disabled
                    class="content--styles content-employee--styles" id="js-positionName"/>
        </div>
        <div class="content-employee__column-2-flex">
            <label asp-for="Definition.Pid">PID:</label>
            <input asp-for="Definition.Pid" type="text" disabled
                    class="content--styles content-employee--styles" id="js-pid"/>
        </div>
        </div>
        <label asp-for="Definition.WorkprojectId" class="content-employee__column-1">WP:</label>
        <div class="content-employee__column-2">
        <div class="content-employee__column-2-flex">
            <select asp-for="Definition.WorkprojectId" asp-items="Model.WorkprojectSelectList"
                    class="content--styles" onchange="requestWorkprojectDescription(this)">
            </select>
            <input asp-for="Definition.WorkprojectDescription" type="text" disabled
                    class="content-employee--styles" id="js-workprojectDescription"/>
        </div>
        <div class="content-employee__column-2-flex">
            <label asp-for="Definition.ManagerId">Direct Manager:</label>
            <select asp-for="Definition.ManagerId" asp-items="Model.EmployeeSelectList"
                    class="content--styles" >
            </select>
        </div>
        <div class="content-employee__column-2-flex">
            <label asp-for="Definition.ApproverId">Approver:</label>
            <select asp-for="Definition.ApproverId" asp-items="Model.EmployeeSelectList"
                    class="content--styles">
            </select>
        </div>
        </div>
    </div>

    @*-------------------------- Content - Table --------------------------*@
    <table class="content-table">
        <thead class="content-table__header">
        <tr class="content-table__header-row-1">
            <th colspan="11"><b>Objectives definition:</b> completed at the beginning of the period</th>
            <th colspan="3"><b>Results:</b> completed at the end</th>
        </tr>
        <tr class="content-table__header-row-2">
            <th class="content-table--column-nth"><b>#</b></th>
            <th class="content-table--column-statement"><b>Statement of Objective</b></th>
            <th class="content-table--column-description"><b>Description (incl. how to measure details)</b></th>
            <th class="content-table--column-key"><b>Key</b></th>
            <th class="content-table--column-measur"><b>Measur.</b></th>
            <th class="content-table--column-units"><b>Units</b></th>
            <th class="content-table--column-threshold"><b>Threshold</b></th>
            <th class="content-table--column-target"><b>Target</b></th>
            <th class="content-table--column-challenge"><b>Challenge</b></th>
            <th class="content-table--column-wf"><b>WF, %</b></th>
            <th class="content-table--column-upperlimit"><b>KPI Upper Limit, %</b></th>
            <th class="content-table--column-keycheck"><b>Key Check</b></th>
            <th class="content-table--column-achieved"><b>Achieved Value</b></th>
            <th class="content-table--column-kpi"><b>KPI, %</b></th>
        </tr>
        </thead>
        <tbody class="content-table__body" id="js-table">
        @for(int i = 0; i < Model.ObjectivesResults.Count(); i++)
        {
            <tr>
            @*in ViewModel prepapre for each td a property with background-color : red/blue depending on existing value*@
            @*Objectives table block*@
            <td><input asp-for="ObjectivesResults[i].Row" type="text" readonly /></td>
              <td> <textarea asp-for="ObjectivesResults[i].Objective.Statement" style="text-align: center" rows="1" oninput="resizeTextArea(this)"></textarea></td>
              <td><textarea asp-for="ObjectivesResults[i].Objective.Description" rows="1" oninput="resizeTextArea(this)"></textarea></td>
              <td><input asp-for="ObjectivesResults[i].Objective.IsKey" type="checkbox" /></td>
              <td><input asp-for="ObjectivesResults[i].Objective.IsMeasurable" type="checkbox" /></td>
              <td><textarea asp-for="ObjectivesResults[i].Objective.Unit" style="text-align: center" rows="1" oninput="resizeTextArea(this)"></textarea></td>
              <td><input asp-for="ObjectivesResults[i].Objective.Threshold" type="text" /></td>
              <td><input asp-for="ObjectivesResults[i].Objective.Target" type="text" /></td>
              <td><input asp-for="ObjectivesResults[i].Objective.Challenge" type="text" /></td>
              <td><input asp-for="ObjectivesResults[i].Objective.WeightFactor" type="text" /></td>
              <td><input asp-for="ObjectivesResults[i].Objective.KpiUpperLimit" type="text" /></td>
            @*Results table block*@
              <td><textarea asp-for="ObjectivesResults[i].Result.KeyCheck" style="text-align: center" rows="1" disabled></textarea></td>
              <td><input asp-for="ObjectivesResults[i].Result.Achieved" type="text" /></td>
              <td><textarea asp-for="ObjectivesResults[i].Result.Kpi" style="text-align: center" rows="1" disabled></textarea></td>
            </tr>
        }
        </tbody>
        <tfoot class="content-table__footer">
          <tr>
            <td colspan="9" class="content-table__footer--padding content-table__footer-sum"><b>&#8721 =</b></td>
            <td class="content-table__footer--border"><input id="js-weightFactorSum" type="text" disabled/></td>
            <td class="content-table__footer--border content-table__footer--position-relative">
              <input id="js-kpiUpperLimitSum" type="text" disabled/>
              <div class="content-table__footer--position-absolute"><b>&#129145 Max. possible KPI</b></div>
            </td>
            <td colspan="2" class="content-table__footer--padding" ><b>Overall KPI =</b></td>
            <td class="content-table__footer--border"><input id="js-kpiSum" type="text"
                asp-for="Conclusion.OverallKpi" disabled/></td>
          </tr>
        </tfoot>
    </table>

    @*-------------------------- Content - Advanced --------------------------*@
    <div class="content-advanced">
      <div class="content-advanced-proposal">
        <p><b>Proposal for bonus payment:</b></p>
        <input asp-for="Conclusion.IsProposalForBonusPayment" type="radio" value="true" id="js-IsProposalForBonusPaymentYes" disabled/>
        <label for="IsProposalForBonusPaymentYes">Yes</label>
        <input asp-for="Conclusion.IsProposalForBonusPayment" type="radio" value="false" id="js-IsProposalForBonusPaymentNo" disabled/>
        <label for="IsProposalForBonusPaymentNo">No</label>
      </div>
      <div class="content-advanced-worktime">
        <p><b>Work time balance, wh:</b></p>
        <input type="text" value="no data" disabled />
      </div>
    </div>

    @*-------------------------- Content - Comments --------------------------*@
    <div class="content-comments">
      <p>Comments from Direct Manager (desirable):</p>
      <textarea asp-for="Conclusion.ManagerComment" rows="1" oninput="ResizeTextArea(this)" class="content-comments--margin"></textarea>

      <p>Employee's comments (optional):</p>
      <textarea asp-for="Conclusion.EmployeeComment" rows="1" oninput="ResizeTextArea(this)" class="content-comments--margin"></textarea>

      <p>Any other comments (incl. processing info for HR, optional):</p>
      <textarea asp-for="Conclusion.OtherComment" rows="1" oninput="ResizeTextArea(this)"></textarea>
    </div>

    @*-------------------------- Content - Signatures --------------------------*@
    <div class="content-signatures">
        @* objectives signature process is forbidden if:
            objectives is not freezed or results is freezed *@
        <p>Freeze objectives before validation.</p>
        <fieldset class="content-signatures-block" id="js-signatureBlockObjectives"
                disabled="@(!Model.IsObjectivesFreezed ||
                             Model.IsResultsFreezed)">
          @* Objectives Employee*@
          <div class="content-signatures-block__checkbox js-signature">
          <label for="@nameof(SignaturesVM.ForObjectivesIsSignedByEmployee)">Employee:</label>
                <input asp-for="Signatures.ForObjectivesIsSignedByEmployee" type="checkbox"
                  id="@nameof(SignaturesVM.ForObjectivesIsSignedByEmployee)" />
          </div>
          <span class="content-signatures-block__signature"
            id="@nameof(SignaturesVM.ForObjectivesEmployeeSignature)">
                    @Model.Signatures.ForObjectivesEmployeeSignature
          </span>
          @* Objectives Manager*@
          <div class="content-signatures-block__checkbox js-signature">
          <label for="@nameof(SignaturesVM.ForObjectivesIsSignedByManager)">Direct Manager:</label>
                <input asp-for="Signatures.ForObjectivesIsSignedByManager" type="checkbox"
                  id="@nameof(SignaturesVM.ForObjectivesIsSignedByManager)" />
          </div>
          <span class="content-signatures-block__signature"
            id="@nameof(SignaturesVM.ForObjectivesManagerSignature)">
                    @Model.Signatures.ForObjectivesManagerSignature
          </span>
          @* Objectives Approver*@
          <div class="content-signatures-block__checkbox js-signature">
          <label for="@nameof(SignaturesVM.ForObjectivesIsSignedByApprover)">Approved by:</label>
                <input asp-for="Signatures.ForObjectivesIsSignedByApprover" type="checkbox"
                  id="@nameof(SignaturesVM.ForObjectivesIsSignedByApprover)" />
          </div>
          <span class="content-signatures-block__signature"
            id="@nameof(SignaturesVM.ForObjectivesApproverSignature)">
                    @Model.Signatures.ForObjectivesApproverSignature
          </span>
          @* Objectives Reject Employee*@
          <div class="content-signatures-block__checkbox js-signature">
            <label></label>
            <input asp-for="Signatures.ForObjectivesIsRejectedByEmployee" type="checkbox"
              id="@nameof(SignaturesVM.ForObjectivesIsRejectedByEmployee)" />
          </div>
          <span class="content-signatures-block__signature">I do not agree with objectives</span>
        </fieldset>

        @* results signature process is forbidden if:
            objectives is not freezed or results is not freezed*@
        <p>Freeze results before validation.</p>
        <fieldset class="content-signatures-block" id="js-signatureBlockResults"
                disabled="@(!Model.IsObjectivesFreezed ||
                            !Model.IsResultsFreezed)">
          @* Results Employee*@
          <div class="content-signatures-block__checkbox js-signature">
            <label for="@nameof(SignaturesVM.ForResultsIsSignedByEmployee)">Employee:</label>
                  <input asp-for="Signatures.ForResultsIsSignedByEmployee" type="checkbox"
                    id="@nameof(SignaturesVM.ForResultsIsSignedByEmployee)" />
          </div>
          <span class="content-signatures-block__signature"
            id="@nameof(SignaturesVM.ForResultsEmployeeSignature)">
                    @Model.Signatures.ForResultsEmployeeSignature
          </span>
          @* Results Manager*@
          <div class="content-signatures-block__checkbox js-signature">
            <label for="@nameof(SignaturesVM.ForResultsIsSignedByManager)">Direct Manager:</label>
                  <input asp-for="Signatures.ForResultsIsSignedByManager" type="checkbox"
                    id="@nameof(SignaturesVM.ForResultsIsSignedByManager)" />
          </div>
          <span class="content-signatures-block__signature"
            id="@nameof(SignaturesVM.ForResultsManagerSignature)">
                    @Model.Signatures.ForResultsManagerSignature
          </span>
          @* Results Approver*@
          <div class="content-signatures-block__checkbox js-signature">
          <label for="@nameof(SignaturesVM.ForResultsIsSignedByApprover)">Approved by:</label>
                <input asp-for="Signatures.ForResultsIsSignedByApprover" type="checkbox"
                  id="@nameof(SignaturesVM.ForResultsIsSignedByApprover)" />
          </div>
          <span class="content-signatures-block__signature"
            id="@nameof(SignaturesVM.ForResultsApproverSignature)">
                    @Model.Signatures.ForResultsApproverSignature
          </span>
          @* Results Reject Employee*@
          <div class="content-signatures-block__checkbox js-signature">
            <label></label>
            <input asp-for="Signatures.ForResultsIsRejectedByEmployee" type="checkbox"
              id="@nameof(SignaturesVM.ForResultsIsRejectedByEmployee)" />
          </div>
          <span class="content-signatures-block__signature">I do not agree with results</span>
        </fieldset>
    </div>
   </form>
  </content>
  <sidebar class="sidebar sidebar--padding">
    <div class="button-group">
        <p class="button-group__title">Objectives:</p>
        <input type="submit" value="Freeze" onclick="changeState()" class="cmn-button button--width"
                disabled="@(Model.IsObjectivesFreezed)" />
        <input type="submit" value="Unfreeze" asp-controller="Form" asp-action="Unfreeze" class="cmn-button button--width"
                disabled="@(!Model.IsObjectivesFreezed)" />
    </div>
    <div class="button-group">
        <p class="button-group__title">Results:</p>
        <input type="submit" value="Freeze" asp-controller="Form" asp-action="Freeze" class="cmn-button button--width"
               disabled="@(!Model.IsObjectivesFreezed ||
                            Model.IsResultsFreezed)" />
      <input type="submit" value="Unfreeze" asp-controller="Form" asp-action="Unfreeze" class="cmn-button button--width"
               disabled="@(!Model.IsObjectivesFreezed ||
                           !Model.IsResultsFreezed)"/>
    </div>
    <div class="button-group">
        <p class="button-group__line"></p>
        <input type="submit" value="Save" form="content-form" asp-controller="Form" asp-action="SaveProcess" class="cmn-button button--width" />
        <input type="submit" value="Search" asp-controller="Form" asp-action="Index" class="cmn-button button--width" />
    </div>
  </sidebar>

  <footer class="footer">

  </footer>

</body>
