@model HomeIndexViewModel
@{
  Layout = null;
  TableSelectLists tableSelectLists = Model.TableSelectLists;
  UserSelections userSelections = new UserSelections();
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <link rel="stylesheet" href="~/css/index/wrapper.css" />
  <link rel="stylesheet" href="~/css/index/content.css" />
  <link rel="stylesheet" href="~/css/index/content-select.css" />
  <link rel="stylesheet" href="~/css/index/content-table.css" />

  <link rel="stylesheet" href="~/lib/bootstrap/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-multiselect/css/bootstrap-multiselect.css"/>
  <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="~/lib/popper.js/umd/popper.min.js"></script>
  <script type="text/javascript" src="~/lib/bootstrap/bootstrap/js/bootstrap.min.js"></script>
  @*<script type="text/javascript" src="~/lib/bootstrap/bootstrap/js/bootstrap.bundle.min.js"></script>*@
  <script type="text/javascript" src="~/lib/bootstrap/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
  <script type="text/javascript" src="~/js/index/bootstrap.js"></script>

</head>

@*----------------------------------------
BEM convention: Block Elements Modifiers
.stick-man          || blocks with -

.stick-man__head    || elements with __
.stick-man__arms
.stick-man__feet

.stick-man--blue    || modifiers with --

.stick-man__head--small
----------------------------------------*@

<body class="wrapper">
  <header class="header">
    <p>You can do it!</p>
  </header>
  

  <content class="content">
    <form asp-controller="Home" asp-action="Index" method="post" class="content-select-form">
        <div class="button-groups__title">Multiselect filters:</div>
        <div class="content-select">
            <label>Employee:</label>
            <select asp-for="@userSelections.SelectedEmployees"
                    asp-items="@(new SelectList(tableSelectLists.EmployeeSelectList.MultiSelectList,"Text", "Text"))"
                    class="js-bootstrap-multiselect" multiple visibility: hidden>
            </select>
            <label>Period:</label>
            <select asp-for="@userSelections.SelectedPeriods"
                    asp-items="@(new SelectList(tableSelectLists.PeriodSelectList.MultiSelectList,"Text", "Text"))"
                    class="js-bootstrap-multiselect" multiple visibility: hidden>
            </select>
            <label>Year:</label>
            <select asp-for="@userSelections.SelectedYears"
                    asp-items="@(new SelectList(tableSelectLists.YearSelectList.MultiSelectList,"Text", "Text"))"
                    class="js-bootstrap-multiselect" multiple visibility: hidden>
            </select>
            <label>Permission:</label>
            <select asp-for="@userSelections.SelectedPermissions"
                    asp-items="@(new SelectList(tableSelectLists.PermissionSelectList.MultiSelectList,"Text", "Text"))"
                    class="js-bootstrap-multiselect" multiple visibility: hidden>
            </select>
            <span></span>
            <span></span>
            <label>Department:</label>
            <select asp-for="@userSelections.SelectedDepartments"
                    asp-items="@(new SelectList(tableSelectLists.DepartmentSelectList.MultiSelectList,"Text", "Text"))"
                    class="js-bootstrap-multiselect" multiple visibility: hidden>
            </select>
            <label>Team:</label>
            <select asp-for="@userSelections.SelectedTeams"
                    asp-items="@(new SelectList(tableSelectLists.TeamSelectList.MultiSelectList,"Text", "Text"))"
                    class="js-bootstrap-multiselect" multiple visibility: hidden>
            </select>
            <label>Workproject:</label>
            <select asp-for="@userSelections.SelectedWorkprojects"
                    asp-items="@(new SelectList(tableSelectLists.WorkprojectSelectList.MultiSelectList,"Text", "Text"))"
                    class="js-bootstrap-multiselect" multiple visibility: hidden>
            </select>
        </div>
        <input type="submit" name="submit" value="Apply filters" class="button" />
    </form>

    <form method="post" class="content-table-form">
      <div class="button-groups">
          <span class="button-groups__group">
            <div class="button-groups__title">Work with empty form:</div>
            <input type="submit" value="Open blank form" asp-controller="Home" asp-action="OpenBlankForm" class="button" />
          </span>
          <span class="button-groups__group">
              <div class="button-groups__title">Work based on selected form/forms:</div>
              <input type="submit" value="Open" asp-controller="Home" asp-action="Form" class="button" />
              <input type="submit" value="Create" asp-controller="Home" asp-action="Form" class="button" />
              <input type="submit" value="Promote" asp-controller="Home" asp-action="Form" class="button" />
              <input type="submit" value="Remove" asp-controller="Home" asp-action="Form" class="button" />
          </span>
      </div>

      <table class="content-table">
        <thead class="content-table__header">
          <tr class="content-table__header-row">
            <th class="content-table--column-checkbox"></th>
            <th class="content-table--column-nth"><b>#</b></th>
            <th class="content-table--column-workproject"><b>Workproject</b></th>
            <th class="content-table--column-employee"><b>Employee</b></th>
            <th class="content-table--column-period"><b>Period</b></th>
            <th class="content-table--column-year"><b>Year</b></th>
            <th class="content-table--column-department"><b>Department</b></th>
            <th class="content-table--column-team"><b>Team</b></th>
            <th class="content-table--column-datetime"><b>Last modified</b></th>
            <th class="content-table--column-permission"><b>Permission</b></th>
          </tr>
        </thead>
        <tbody class="content-table__body">
          @for(int i = 0; i < Model.TableRows.Count(); i++)
          {
            <tr>
              <td><input name="selectedFormIds" value="@Model.TableRows[i].Id" type="checkbox" /></td>
              <td><span>@(i+1)</span></td>
              <td><span>@Model.TableRows[i].WorkprojectName</span></td>
              <td><span>@Model.TableRows[i].EmployeeFullName</span></td>
              <td><span>@Model.TableRows[i].Period</span></td>
              <td><span>@Model.TableRows[i].Year</span></td>
              <td><span>@Model.TableRows[i].DepartmentName</span></td>
              <td><span>@Model.TableRows[i].TeamName</span></td>
              <td><span>@Model.TableRows[i].LastSavedDateTime</span></td>
              <td>
                <span>
                  @{ string permission = string.Empty; }
                  @foreach(string s in @Model.TableRows[i].Permissions)
                  {
                    if(string.IsNullOrEmpty(permission))
                    {
                      permission = s;
                    }
                    else
                    {
                      permission = permission + "; " + s;
                    }
                  }
                  @permission
                </span>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </form>
  </content>

  <footer class="footer">

  </footer>
</body>

</html>
